In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

base_dir = Path(os.getcwd())

pd.set_option('display.max_rows', 10)

data_dir = base_dir / "Dataset"

os.chdir(data_dir)

## Handle duplicate rows

In [2]:
accts = pd.read_csv("accounts.csv")

In [3]:
# Show duplicate rows
accts.loc[accts.duplicated(keep=False),:].sort_values(accts.columns.to_list())

,industry,country,signup_date,referral_source,plan_tier,seats,account_id,account_name,churn_flag,is_trial
361,Cybersecurity,IN,1/17/2023,partner,Basic,42.0,A-ed510f,Company_361,False,False
583,Cybersecurity,IN,1/17/2023,partner,Basic,42.0,A-ed510f,Company_361,False,False
472,Cybersecurity,UK,10/31/2024,organic,Enterprise,1.0,A-700ade,Company_472,False,True
501,Cybersecurity,UK,10/31/2024,organic,Enterprise,1.0,A-700ade,Company_472,False,True
380,Cybersecurity,US,10/22/2024,other,Basic,34.0,A-0354fe,Company_380,False,False
...,...,...,...,...,...,...,...,...,...,...
500,HealthTech,US,8/7/2023,ads,Enterprise,20.0,A-186a44,Company_101,False,False
197,HealthTech,NaN,1/30/2023,ads,Pro,20.0,A-1986ca,Company_197,False,False
502,HealthTech,NaN,1/30/2023,ads,Pro,20.0,A-1986ca,Company_197,False,False
311,HealthTech,NaN,4/4/2024,other,Pro,14.0,A-3d957b,Company_311,False,False
514,HealthTech,NaN,4/4/2024,other,Pro,14.0,A-3d957b,Company_311,False,False

In [4]:
# Remove the duplicate rows 
accts = accts.drop_duplicates()

In [7]:
accts.to_csv(Path("accounts.csv"), index=False)

In [8]:
accts

,industry,country,signup_date,referral_source,plan_tier,seats,account_id,account_name,churn_flag,is_trial
0,EdTech,US,10/16/2024,partner,Basic,9.0,A-2e4581,Company_0,False,False
1,FinTech,IN,8/17/2023,other,Basic,18.0,A-43a9e3,Company_1,True,False
2,DevTools,US,NaN,organic,Basic,1.0,A-0a282f,Company_2,False,False
3,HealthTech,UK,8/27/2023,other,basic,24.0,A-1f0ac7,Company_3,False,True
4,HealthTech,US,10/27/2024,event,Enterprise,35.0,A-ce550d,Company_4,True,False
...,...,...,...,...,...,...,...,...,...,...
592,EdTech,NaN,12/18/2024,NaN,Basic,148.0,A-18793f,Company_488,False,True
593,DevTools,CA,NaN,ads,Pro,9.0,A-8ae3fc,Company_495,False,False
594,HEALTHTECH,US,3/7/2024,organic,Pro,NaN,A-4ef964,Company_262,False,False
596,FinTech,US,8/26/2024,other,Basic,29.0,A-e60f9d,Company_178,False,False
599,Fintech,DE,3/9/2023,other,Enterprise,18.0,A-c4ea60,Company_18,True,False